.header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 1%;
}

.titre1 {
    display: flex;
    justify-content: space-between;
    width: 5%;
}

.titre2 {
    display: flex;
    justify-content: space-between;
    width: 20%;
    color: #457b9d;
}

.titre3 {
    display: flex;
    justify-content: space-between;
    width: 6%;
    height: 6vh;
}

body {
    background-color: #e63946;
}

body:after {
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #f1Faee;
    content: "";
}

.text1 {

    margin-left: 1%;
    color: #457b9d;
    font-size: 500%;
    display: flex;
}

.text2 {
    color: #457b9d;
    margin-left: 1%;
    font-size: 80%;
    bottom: 20vw;
}

.buton {
    margin-left: 0.7%;
    width: 25%;
    height: 60%;
    color: #457b9d;
    border-color: #e63946;
}

.logo-cube {
    display: flex;
    position: absolute;
    right: 17.5%;
    bottom: 30%;
}